body {
    background-color: #D1D5DB;

    .main-content {
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin: 1rem;
        margin-top: 1rem;
        border-radius: 0.25rem;
        background-color: #ffffff;

        .title {
            font-size: 1.875rem;
            line-height: 2.25rem;
            font-weight: 700;
            text-align: center;
            color: transparent;
            background-clip: text;
            background-image: linear-gradient(to right, var(--tw-gradient-stops));
            background-color: #059669;
        }

        .form {
            display: flex;
            margin: 0.5rem;
            flex-direction: column;
            gap: 0.75rem;
            justify-content: center;

            @media (min-width: 768px) {
                flex-direction: row;
            }

            .inputData {
                padding: 0.5rem;
                border-radius: 0.25rem;
                border-width: 2px;
                border-color: #6EE7B7;
                --ring-color: #FCA5A5;
                width: 100%;


                @media (min-width: 768px) {
                    width: 50%;
                }
            }

            .button {
                padding-top: 0.75rem;
                padding-bottom: 0.75rem;
                padding-left: 1.25rem;
                padding-right: 1.25rem;
                border-radius: 0.25rem;
                color: #ffffff;
                background-image: linear-gradient(to right, var(--tw-gradient-stops));
                background-color: #059669;
            }
        }

        .fileOutput {
            .textLineOne {
                font-size: 1.5rem;
                line-height: 2rem;
                font-weight: 700;
                text-align: center;
                color: transparent;
                background-clip: text;
                background-image: linear-gradient(to right, var(--tw-gradient-stops));
                background-color: #059669;
            }

            .backFolder {
                padding-top: 0.25rem;
                padding-bottom: 0.25rem;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
                margin: 0.5rem;
                border-radius: 0.25rem;
                color: #ffffff;
                background-image: linear-gradient(to right, var(--tw-gradient-stops));
                background-color: #059669;
            }

            .table-container {
                display: flex;
                overflow: scroll;
                position: relative;
                flex-direction: column;
                border-radius: 0.75rem;
                width: 100%;
                height: 100%;
                color: #374151;
                background-clip: border-box;
                background-color: #ffffff;
                box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

                .table {
                    width: 100%;
                    min-width: max-content;
                    text-align: left;
                    table-layout: auto;

                    .th-1 {
                        padding: 1rem;
                        border-bottom-width: 1px;
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                        font-size: 0.875rem;
                        line-height: 1.25rem;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        font-weight: 400;
                        line-height: 1;
                        opacity: 0.7;
                    }

                    .th-2 {
                        padding: 1rem;
                        border-bottom-width: 1px;

                        .th-2-fileContent {
                            display: block;
                            font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                            font-size: 0.875rem;
                            line-height: 1.25rem;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            font-weight: 400;
                            line-height: 1;
                            opacity: 0.7;
                        }
                    }

                    .tbody-td {
                        padding: 1rem;
                        border-bottom-width: 1px;

                        .tbody-td-content {
                            display: block;
                            font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                            font-size: 0.875rem;
                            line-height: 1.25rem;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            font-weight: 400;
                            line-height: 1.5;
                        }

                        .tbody-td-content-link {
                            padding-top: 0.25rem;
                            padding-bottom: 0.25rem;
                            padding-left: 0.5rem;
                            padding-right: 0.5rem;
                            border-radius: 0.25rem;
                            color: #ffffff;
                            background-image: linear-gradient(to right, var(--tw-gradient-stops));
                            background-color: #059669;
                        }
                    }

                }
            }

            .downloadAll {
                display: flex;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                margin-left: 1rem;
                margin-right: 1rem;
                margin-top: 0.5rem;
                flex-direction: column;
                justify-content: center;

                .downloadAllButton {
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                    border-radius: 0.25rem;
                    color: #ffffff;
                    background-image: linear-gradient(to right, var(--tw-gradient-stops));
                    background-color: #059669;
                }
            }
        }
    }

    footer {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        .footer-container {
            text-align: center;
            color: #4B5563;
        }

        .myDesCription {
            font-weight: 700;
            text-align: center;
            color: transparent;
            background-clip: text;
            background-image: linear-gradient(to right, var(--tw-gradient-stops));
            background-color: #059669;
        }
    }
}